<div id="<%= dom_id beer_club %>">

  <h2><%= beer_club.name %></h2>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
</div>
