<div data-controller="ratings" class="ratings">
  <div class="restricted-table-container">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <% if @user == current_user %>
          <th></th> <!-- Checkbox -->
        <% end %>
        <th>Score</th>
        <th>Beer</th>
      </tr>
      </thead>
      <tbody>
      <% @user.ratings.each do |rating| %>
        <tr class="rating">
          <% if @user == current_user %>
            <td>
              <input class="rating-checkbox" type="checkbox" name="ratings[]" value="<%= rating.id %>" />
            </td>
          <% end %>
          <td>
            <%= link_to rating.score, rating, data: { turbo_frame: "rating_details" } %>
          </td>
          <td>
            <%= link_to rating.beer.name, rating.beer %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <% if @user == current_user %>
      <button class="btn btn-danger mt-2 mb-2" data-action="click->ratings#destroy">Delete selected</button>
      <input type="checkbox" data-action="ratings#selectAll" />
  <% end %>
  </div>

</div>
