
<div class="centered-page-container">
  <% content_for :title, "Users" %>

  <h1>Users</h1>

  <div class="users-container" id="users">
    <% @users.each do |user| %>
      <div>
        <%= link_to(user.username, user) %>
        <p>Has made <%= "#{user.ratings.size}"%> ratings, average rating <%= "#{user.average_rating}" %></p>
        <% if user.disabled? %>
          <span class="badge text-bg-danger">account closed</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
