<p style="color: green"><%= notice %></p>

<div class="centered-page-container">
  <% content_for :title, "Users" %>

  <h1>Users</h1>

  <div class="users-container" id="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</div>
