<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Rating</th>
    <th>User</th>
    <th>Rated at</th>
  </tr>
  </thead>
  <tbody>
  <% Rating.includes(:beer, :user).latest.each do |rating| %>
    <tr>
      <td>
        <%= link_to rating.beer.name, rating.beer %>
      </td>
      <td>
        <%= rating.score %> / 50
      </td>
      <td>
        <%= link_to rating.user.username, rating.user %>
      </td>
      <td><%= rating.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>