<h2>List of ratings</h2>

<p>Ratings count: <%= @ratings.count %></p>

<%= link_to 'Create a new rating', new_rating_path %>

<ul class="rating-list">
    <% @ratings.each do |rating| %>
        <li> 
            <%= render rating %> 
            <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
        </li>
    <% end %>
</ul>