<h2>List of ratings</h2>

<p>Ratings count: <%= @ratings.count %></p>

<%= link_to 'Create a new rating', new_rating_path %>

<ul class="rating-list">
    <% @ratings.each do |rating| %>
        <li> 
            <%= render rating %> 
            <!-- Samalla tein myös Tehtävän 6 -->
            <%= link_to rating.user.username, rating.user %>
        </li>
    <% end %>
</ul>