<div id="<%= dom_id style %>">
  <h2>
    <%= style.name %>
  </h2>

  <p>
    <%= style.description %>
  </p>

  <% unless @style.beers.empty? %>
    <h3>Beers</h3>
    <ul>
      <%  @style.beers.each do |beer| %>
        <li>
          <%= link_to beer.name, beer %>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>