<div id="<%= dom_id style %>">
  <h2>
    <%= style.name %>
  </h2>

  <p>
    <%= style.description %>
  </p>

  <% unless @style.beers.empty? %>
    <h3>Beers</h3>
    <div class="restricted-table-container">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <% @style.beers.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>