<div class="row d-flex align-items-center justify-content-center show-container">
  <div class="col-md-8">
    <%= render @style %>

    <div class="mb-3">

      <% if current_user %>
        <%= edit_and_destroy_buttons(@style) %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to "Back to styles", styles_path, class: "btn btn-secondary" %>
  </div>

</div>
