<%= turbo_frame_tag active_tag, data: { turbo_action: "advance" } do %>
  <h2>Active breweries</h2>
  <%= turbo_frame_tag "active_breweries_count" do %>
    <%= render "brewery_count", status: "active" %>
  <% end %>
  <%= render "table", breweries: active_breweries, status: "active" %>
<% end %>
