<!-- Establish a websocket connection between the browser and the server -->
<%= turbo_stream_from "breweries_index" %>

<h1>Breweries</h1>

<div class="row">
  <div class="col-sm-6">
    <%= turbo_frame_tag "new_brewery", src: new_brewery_path if current_user %>
  </div>
</div>

<%= render "brewery_list" %>
