<h2>Breweries</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th id="name">Name</th>
    <th id="year">Founded</th>
    <th id="beerCount">Beer count</th>
    <th id="status">Brewery status</th>
  </tr>
  </thead>
  <tbody id="brewerylist">

  </tbody>
</table>