<div class="row d-flex align-items-center justify-content-center show-container">
  <div class="col-md-8">
    <% cache @brewery do %>
      <%= render @brewery %>
    <% end %>

    <div class="mb-3 mt-3">
      <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>

      <% if current_user %>
        <%= edit_and_destroy_buttons(@brewery) %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to "Back to breweries", breweries_path, class: "btn btn-secondary" %>
  </div>
</div>