<div>
  <% content_for :title, "Beers" %>

  <h1>Beers</h1>

  <%= link_to 'New beer', new_beer_path, class: "btn btn-primary" if current_user %>

  <p>Number of beers: <%= @beers_size %></p>

  <div id="beers">
    <%= render "beer_list", beers: @beers, page: @page, order: @order, last_page: @last_page %>
  </div>
</div>