<h2>Beers</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th id="name">Name</th>
      <th id="style">Style</th>
      <th id="brewery">Brewery</th>
    </tr>
  </thead>
  <tbody id="beerlist">

  </tbody>
</table>