.navibar {
    padding: 10px;
    background: #3e3e3e;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.navibar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.navibar li:not(:first-child) {
    padding-left: 3em;
}

.navibar li a {
    color: white;
    padding: 2px;
    border-radius: 3px;
    text-decoration: none;
}

.navibar li a:hover {
    background-color: rgb(255, 153, 0);
}

.rating-list li {
    display: flex;
    align-items: center;
}

.rating-list li button {
    margin-left: 5px;
}