.navibar {
    padding: 10px;
    background: #EFEFEF;
}

.navibar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.navibar li:not(:first-child) {
    padding-left: 3em;
}