.navibar {
    padding: 10px;
    background: #3e3e3e;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navibar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.navibar li:not(:first-child) {
    padding-left: 3em;
}

.navibar li a {
    color: white;
    padding: 2px;
    border-radius: 3px;
    text-decoration: none;
}

.navibar li .active {
    text-decoration: underline;
}

.navibar li a:hover {
    background-color: rgb(255, 153, 0);
}

.rating-list li {
    display: flex;
    align-items: center;
}

.rating-list li button {
    margin-left: 5px;
}

.error_explanation {
    color: red;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.centered-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 2px 1px rgba(78, 78, 90, 0.2);
}

.users-container {
    padding: 2em;
}