html, body
    height: 100%
    margin: 0
    display: flex
    flex-direction: column

main
    flex: 1

.navbar li .active
    text-decoration: underline


.rating-list li
    display: flex
    align-items: center

.rating-list li button
    margin-left: 5px

.error_explanation
    color: red


.form-group
    display: flex
    align-items: center
    margin-bottom: 10px

.centered-page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.show-container
  border: 1px solid rgba(209, 207, 207, 0.53)
  box-shadow: 5px 5px 2px 1px rgba(78, 78, 90, 0.2)
  padding: 0.5em

.page-container
    border: 1px solid rgba(209, 207, 207, 0.53)
    background-color: rgba(124, 178, 243, 0.55)
    border-radius: 8px
    padding: 0.5em
    margin-bottom: 1em
    box-shadow: 5px 5px 2px 1px rgba(78, 78, 90, 0.2)
    min-height: auto

.users-container
    padding: 2em

#breweries
    display: inline-flex
    flex-wrap: wrap

.brewery-container
    background-color: white
    border: 1px solid rgba(209, 207, 207, 0.53)
    padding: 0.5em
    margin: 0.2em
    border-radius: 3px
    box-shadow: 5px 5px 2px 1px rgba(78, 78, 90, 0.2)

.restricted-table-container
    max-height: 25em
    overflow-y: scroll


@import "bootstrap"
