.navbar li .active {
    text-decoration: underline;
}

.rating-list li {
    display: flex;
    align-items: center;
}

.rating-list li button {
    margin-left: 5px;
}

.error_explanation {
    color: red;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.centered-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 2px 1px rgba(78, 78, 90, 0.2);
}

.users-container {
    padding: 2em;
}

@import "bootstrap";
